.event-cart {
    width: 30rem;
}

.time-cart-title{
    display: flex;
    justify-content: space-between;
}
.time-card-width{
    width: 26rem;;
}
.small-time-card{
    display: none;
}
.time-count{
    color: cadetblue;
    font-weight: 400;
}
.card-header-color{
    color: darkgray;
    font-weight: 400;
}
.card-headers-title{
    font-weight: 400; 
}
.active-card{
    background: #007bff;
    color: white;
}
@media(max-width:520px) {
    .event-cart {
        display: none;
    } 
    .time-card-width{
        width: 20rem;;
    }
    .small-time-card, .time-cart-title, .time-card-detail{
        display: block;
    }

    .time-card-details{
        display: none;
    }
    .time-card-time{
        text-align: center;
    }
    .time-card-small{
        margin-bottom: 20px;
    }
    .time-small-header{
        font-size: 60%;
        font-weight: 400;
    }

  }